
body {
    font-family: 'Arial, sans-serif';
}

.titre {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 12px;
    padding: 20px;
    background-color: #f1f1f1;
}

.cursor-pointer {
    cursor: pointer;
}

#totalLicencies {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.region-card {
    max-width: 500px;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}